.category {
  min-height: calc(100% - 130px);
  padding: 15px;
  width: 80%;
  margin: auto;
}

.category-title {
  margin-bottom: 15px;
  color: var(--primary-color);
  border-bottom: 1px solid var(--gray-color);
  font-size: 30px;
  width: max-content;
  padding: 10px;
}

.category-not-found-container {
  text-align: center;
}

.category-not-found {
  font-size: 30px;
  margin: 20px 0;
  color: var(--dark-clor);
}
.category-not-found span {
  color: var(--red-color);
}

.category-not-found-link {
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
}
